div{
	background-color:lightgrey;
	width: 60%;
	float: right;
	margin-right: 10px;
	margin-top: 100px;
	padding: 10px;

}
#first{
	word-spacing: 10px;
	margin-left: 25px;
}


#second{
	border-top: dotted;
	border-bottom: dashed;
	border-left: solid;
	border-right: solid;
	border-color: red;
	margin-top: 275px;
	width:60%;
	margin-left: 39%;
	margin-right: 10px;
	
	
}
img{
	float: left;
	width: 35%;
	background-color: lightgrey;

}
